.header {
  background: #00aaff;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.header h1 {
  font-size: 24px;
}

.header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.header nav a:hover {
  color: #002244;
}
